@import "tailwindcss";

@font-face {
  font-family: chiron-r;
  src: url("./fonts/ChironGoRoundTC-Regular.ttf");
}

@font-face {
  font-family: chiron-m;
  src: url("./fonts/ChironGoRoundTC-Medium.ttf");
}
@font-face {
  font-family: chiron-sb;
  src: url("./fonts/ChironGoRoundTC-SemiBold.ttf");
}
@font-face {
  font-family: chiron-eb;
  src: url("./fonts/ChironGoRoundTC-ExtraBold.ttf");
}

html {
  font-family: chiron-r;
  overflow-y: scroll;
}
